# Dependencies
node_modules

# Environment
.env
.env.production
.env.development

# Cloudflare Pages / Vite Build Output
dist
dist-ssr
/dist
dist/*

# Editor config & Logs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
npm-debug.log*